.container {
  background-color: var(--color-white);
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  top: 225px;
  left: 73px;
  gap: 8px;
  width: 198px;
  border-radius: 15px;
  padding: 12px;

  @media (min-width: 768px) {
    left: 204px;
    top: 322px;
    gap: 6px;
    width: 295px;
    padding: 20px;
  }

  @media (min-width: 1440px) {
    left: 188px;
    top: 450px;
  }
}

.title {
  font-family: var(--poppins-bold);
  color: var(--color-darkblue);
  font-weight: 700;
  font-size: 14px; 
  line-height: 1;

  @media (min-width: 768px) {
  font-size: 15px;
  line-height: 1.49333;
  }
}

.slider {
  max-width:255px;
  height:6px;
  border-radius: 9px;
  border-color: var(--color-lightgrey);
  border-style: none;
  border: solid ;
  color: var(--color-lightgrey);
  background-color: var(--color-lightgrey);
}

.rail{
  transform: translate(-1px,-5px);
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgreen);
}

.percent_bar {
  color:rgba(47, 47, 47, 0.6);
  display: flex;
  pointer-events: none;
  width: 174px;

  @media (min-width: 768px) {
   width: 255px;
   font-size: 12px;
   line-height: 1.86667;
  }

}
.percent_bar_item{
  font-family: var(--poppins-reg);
  color:rgba(47, 47, 47, 0.6);
  display: flex;
  font-weight: 400;
  pointer-events: none;
  font-size: 10px;
  line-height: 1;
  @media (min-width: 768px) {
    font-size: 12px;
    line-height: 1.86667;
   }
}


.fifty {
  margin-left: 66px;
  margin-right: 49px;

  @media (min-width: 768px) {
   margin-left: 100px;
   margin-right: 84px;
  }
}