.box {
  /* padding: 16px; */
  padding: 0;
  width: 343px;
  border-radius: 30px;
  position: relative;
  @media (min-width: 768px) {
    /* padding: 32px; */
    width: 704px;
  }
  @media (min-width: 1440px) {
    width: 672px;
  }
}
