.box {
  animation: start 0.5s ease-in-out;
  width: 343px;
  border-radius: 30px;
  position: relative;
  @media (min-width: 768px) {
    width: 704px;
  }
  @media (min-width: 1440px) {
    width: 672px;
  }
}
@keyframes start {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
