.calendar_section {
  min-height: 348px;
  @media screen and (min-width: 768px) {
    min-height: 361px;
  }
}

.calendar_list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 18px;
  min-height: 242px;

  @media screen and (min-width: 768px) {
    row-gap: 15px;
    column-gap: 34px;
    height: 305px;
  }
  @media screen and (min-width: 1440px) {
    row-gap: 15px;
    column-gap: 53px;
  }
}

.empty_calendar_list {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  @media screen and (min-width: 768px) {
    min-height: 305px;
  }
}
