.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 343px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;

  @media (min-width: 768px) {
    padding: 40px;
    width: 518px;
  }
}

.title {
  font-family: var(--poppins-bold);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-darkblue);
  margin-bottom: 24px;
   /* width: 248px; */
  @media (min-width: 768px) {
  font-size: 28px;
  line-height: 1.143;
     }
}

.text {
  font-family: var(--poppins-bold);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--color-darkblue);
  margin-bottom: 20px;
  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 1.334;
  }
}

.water_controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.water_btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--color-white);
  border: 2px solid var(--color-darkblue);
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.5s ease;

   @media (min-width: 768px) {
  width: 43px;
  height: 43px;
  }
}

.water_btn:active,
.water_btn:hover,
.water_btn:focus {
  border: 1px solid var(--color-lightgrey);
}



.water_display {
  border-radius: 30px;
  padding: 11px 20px;
  outline: none;
  background-color:var(--color-darkblue);
  color: var(--color-white);
 
  font-weight: bold;
  font-size: 16px;
  transition: border 0.5s ease;
}

label {
 font-family: var(--poppins-reg);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.286;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
  color: var(--color-darkblue);
  display: block;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
  }
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 14px 16px;
  border: 1px solid var(--color-black);
  border-radius: 8px;
  font-size: 16px;
}

.input:active,
.input:hover,
.input:focus {
   border: 1px solid var(--color-lightgrey);
}

