.dayNorma {
  border-radius: 15px;
  padding: 12px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background: var(--color-white);
  position: absolute;
  z-index: 200;
  top: 122px;
  left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 6px;
  @media (min-width: 768px) {
    padding: 14px 18px;
    top: 157px;
    left: 32px;
    gap: 4px;
    min-width: 129px;
  }
  @media (min-width: 1440px) {
    left: 64px;
    gap: 4px;
  }
}

.liters {
  font-family: var(--poppins-bold);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: var(--color-darkblue);
  @media (min-width: 768px) {
    font-size: 15px;
    line-height: 149%;
  }
}

.text {
  font-family: var(--poppins-bold);
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  color: rgba(47, 47, 47, 0.6);
  @media (min-width: 768px) {
    font-size: 12px;
    line-height: 187%;
  }
}

.button {
  border-radius: 30px;
  padding: 14px 20px;
  background: var(--color-darkblue);
  border: none;
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 32px;
  right: 16px;
  z-index: 10;
  gap: 10px;
  color: var(--color-white);
  min-width: 142px;
  transition: color 0.2s ease-out;

  @media (min-width: 768px) {
    padding: 18px 30px;
    bottom: 64px;
    right: 32px;
  }
}

.button:hover,
.button:focus {
  color: var(--hover-green);
}

.plus {
  width: 16px;
  height: 16px;
  font-family: var(--poppins-bold);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  @media (min-width: 768px) {
    width: 24px;
    height: 24px;
    font-size: 16px;
    line-height: 150%;
  }
}

.addWater {
  font-family: var(--poppins-bold);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;

  width: 84px;
  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 150%;
  }
}
