.happy_customers {
    position: absolute;
    display: flex;
    align-items: center;
    background: gray;
    padding: 10px 14px;
    border-radius: 30px;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--color-white);
    max-width: 160px;
}

.avatars {
    display: flex;
    margin-right: 10px;
}

.avatars img {
    width: 26px;
    height: 28px;
    border-radius: 50px;
    object-fit: cover;
    margin-left: -10px;
    border: 2px solid var(--color-white);
}

.avatars img:nth-child(1) {
    z-index: 3;
}

.avatars img:nth-child(2) {
    z-index: 2;
}

.avatars img:nth-child(3) {
    z-index: 1;
}

.image {
    display: flex;
    margin-left: 5px;
}

p {
    font-family: var(--poppins-bold);
    font-weight: 700;
    font-size: 12px;
    line-height: 1.2;
    color: var(--color-darkblue);
    margin-left: 15px;
}

.highlight {
    color: var(--color-lightgreen);
}

@media (min-width: 768px) {
    .happy_customers {
        max-width: 237px;
        padding: 10px 20px;
    }

    .avatars img {
        width: 47px;
        height: 47px;
    }

    p {
        font-size: 15px;
        line-height: 1.5;
        margin-left: 50px;
    }
}