.happy_customers {
  position: absolute;
  display: flex;
  align-items: center;
  overflow: hidden;
  bottom: 98px;
  left: 15px;
  background-color: var(--color-white);
  padding: 10px 14px;
  border-radius: 30px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  width: 160px;

  @media (min-width: 768px) {
    padding: 10px 20px;
    width: 237px;
  }

  @media (min-width: 1440px) {
    bottom: 130px;
    left: 30px;
  }
}

.loader {
  max-height: 23px;
  max-width: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.3);
  @media (min-width: 768px) {
    left: 10px;
    max-height: 44px;
    max-width: 100px;
  }
}

.count_customers {
  height: 50px;
  min-width: 87px;
  background-color: var(--color-lightgreen);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -190px;
  border-radius: 30px;
  color: var(--color-darkblue);
  font-family: var(--poppins-bold);
  transition: right 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
  @media (min-width: 768px) {
    height: 67px;
    min-width: 120px;
  }
}

.count_customers.active {
  right: 0px;
}

.avatars {
  display: flex;
  align-items: center;
}

.images {
  display: flex;
  position: relative;
  width: 70px;
}

.images img {
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  width: 28px;
  height: 28px;
  border: 2px solid var(--color-white);
  @media (min-width: 768px) {
    width: 44px;
    height: 44px;
  }
}

.image[alt="customer1"] {
  z-index: 3;
  left: 2;
  bottom: -14px;

  @media (min-width: 768px) {
    z-index: 3;
    left: 2;
    bottom: -22px;
  }
}

.image[alt="customer2"] {
  z-index: 2;
  left: 16px;
  bottom: -14px;

  @media (min-width: 768px) {
    z-index: 2;
    left: 30px;
    bottom: -22px;
  }
}

.image[alt="customer3"] {
  z-index: 1;
  left: 33px;
  bottom: -14px;

  @media (min-width: 768px) {
    z-index: 1;
    left: 58px;
    bottom: -22px;
  }
}

.paragraph {
  font-family: var(--poppins-bold);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2;
  color: var(--color-darkblue);
  margin-left: 20px;

  @media (min-width: 768px) {
    font-size: 15px;
    line-height: 1.5;
    margin-left: 15px;
    text-align: end;
  }
}

.highlight {
  color: var(--color-lightgreen);
}
