.container {
  width: 100%;
  max-width: 320px;
  padding-top: 40px;
  background: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 400px;
    padding-top: 60px;
  }
  @media (min-width: 1440px) {
    width: 436px;
    padding-top: 74px;
  }
}

.button {
  font-family: var(--poppins-bold);
  font-weight: 700;
}

.title {
  font-family: var(--poppins-bold);
  font-weight: 700;
  width: 100%;
  color: var(--color-darkblue);
  font-size: 32px;
  line-height: 32px;
  text-align: left;
  margin-bottom: 32px;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 28px;
  }
  @media (min-width: 1440px) {
    font-size: 36px;
    margin-bottom: 32px;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-family: var(--poppins-bold);
  font-weight: 700;
  position: relative;
  color: var(--color-black);
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.input {
  font-family: var(--poppins-reg);
  min-width: 311px;
  max-width: 311px;
  height: 56px;
  border-radius: 15px;
  padding: 16px;
  border: 1px solid var(--input-inactive-focus-col);
  font-size: 16px;
  background-color: transparent;
  color: rgba(47, 47, 47, 0.6);

  @media (min-width: 768px) {
    min-width: 435px;
    max-width: 435px;
  }
}

.errorInput {
  border-color: var(--error-color);
  color: var(--error-color);
}

.button {
  min-width: 311px;
  max-width: 311px;
  height: 60px;
  border-radius: 30px;
  background: var(--color-lightgreen);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-darkblue);
  margin-top: 12px;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    min-width: 436px;
    max-width: 436px;
  }
}

.button:hover,
.button:active {
  background: var(--hover-green);
}
.paragraph {
  text-align: center;
  color: rgba(47, 47, 47, 0.5);
  font-family: var(--poppins-reg);
}

.link {
  font-family: var(--poppins-bold);
  color: var(--color-black);
  font-weight: 700;
  text-decoration: underline;
}

.link:hover {
  color: var(--hover-green);
}

.inputContainer {
  position: relative;
}
.iconBtn {
  all: unset;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
  stroke: #2f2f2f;
  background: inherit;
  fill: none;
}

.errorMessage {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: var(--poppins-reg);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: var(--error-color);
}
