.signinContainer {
    width: 100%;
    max-width: 320px; 
    text-align: center;
    margin: 192px auto;
  }

  .signinTitle {
    font-family: var(--poppins-bold);
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-align: left;
    margin-bottom: 32px;
    color: var(--color-darkblue);
  }

  .signinForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px; 
  }

  .inputGroup {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .label {
    font-family: var(--poppins-bold);
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
    color: var(--main-text);
  }

  .input {
    font-family: var(--poppins-reg);
    outline: none;
    border: 1px solid rgba(47, 47, 47, 0.2);
    border-radius: 15px;
    padding: 16px 16px 16px;
    width: 311px;
    height: 50px;
    background-color: #f0eff4;
  }

  .signinButton {
    font-family: var(--poppins-bold);
    background-color: var(--color-lightgreen); 
    border: none;
    color: var(--color-black);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.01em;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 30px;
    padding: 16px 131px;
    width: 311px;
    height: 50px;
  }
  
  .signinButton:hover {
    background-color: var(--hover-green);
  }

  .signupText {
    font-family: var(--poppins-reg);
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
    color: rgba(47, 47, 47, 0.5);
    text-decoration: none;
  }
  
  .signupLink {
    font-family: var(--poppins-bold);
    color: var(--color-black);
    text-decoration: underline;
    font-weight: 600;
    margin-left: 4px;
  }
  
  .signupLink:hover {
    text-decoration: underline;
  }

  @media (min-width: 768px) {
    .signinContainer {
      max-width: 436px;
      margin: 249px auto;
    }

    .signinTitle {
      font-size: 36px;
    }

    .label {
      font-size: 16px;
      line-height: 150%;
    }

    .input {
      width: 436px;
      height: 56px;
      font-size: 16px;
      line-height: 150%;
    }

    .signinButton {
      width: 436px;
      font-size: 16px;
      padding: 18px 191px;
      height: 60px;
    }

    .signinForm {
      gap: 20px;
    }

    .signupText {
      font-size: 16px;
    }
  }

  @media (min-width: 1440px) {
    .signinContainer {
      margin: 137px auto;
    }
  }
  
