.day_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: calc(100% / 7 - 15.5px);
  @media screen and (min-width: 768px) {
    gap: 4px;
    width: calc(100% / 7 - 41.2px);
  }
  @media screen and (min-width: 1440px) {
    gap: 4px;
    width: calc(100% / 8 - 46.7px);
  }
}

.percent {
  font-family: var(--poppins-reg);
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0;
  color: #2f2f2f99;
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 187%;
  }
}

.number {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--poppins-bold);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  border-radius: 50%;
  background-color: var(--color-white);
  cursor: pointer;
  @media screen and (min-width: 768px) {
    width: 38px;
    height: 38px;
    font-size: 16px;
    line-height: 150%;
  }
}

.low_percent {
  background-color: #323f4733;
  color: var(--color-darkblue);
}

.current_active_day {
  color: var(--color-darkblue);
  background-color: var(--hover-green);
}

.not_current_active_day {
  color: var(--color-lightgreen);
  background-color: var(--color-darkblue);
}

.current_not_active_day {
  color: var(--color-darkblue);
  background-color: var(--hover-green);
}
