.box {
  background-color: var(--color-lightgrey);
  padding: 40px 20px;
  width: 343px;
  @media (min-width: 768px) {
    padding: 32px;
    width: 704px;
  }
  @media (min-width: 1440px) {
    width: 672px;
  }
}
