.box {
  background-color: var(--color-lightgrey);
  animation: start 0.8s ease-in-out;
  border-radius: 30px;
  padding: 40px 20px;
  width: 343px;
  @media (min-width: 768px) {
    padding: 32px;
    width: 704px;
  }
  @media (min-width: 1440px) {
    width: 672px;
  }
}
@keyframes start {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
